{% extends "insta/base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="card">
            <div class="card_header">
                <div class="profile_image">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                </div>
                <div class="post_info">
                    <div class="post_name" href="#">{{post.author}}</div>
                </div>
                <div class="post_options"><i class="fas fa-ellipsis-h"></i></div>
            </div>
            <div class="post_image">
                {% if post.image %}
                    <a href="{% url 'profile' %}"><img src="{{post.image.url}}" class="img-responsive d-block img-thumbnail" alt="Image" ></a>  
                {% endif %}
                </div>
            
            
            <div class="engage">
                <a href=""><i class="far fa-heart"></i></a>
                <a href=""><i class="far fa-comment"></i></a>
                <a href=""><i class="far fa-share-square"></i></a>
                <a href=""><i class="far fa-bookmark"></i></a>
            </div>
            <div class="like">
                <a href="#"</a>
            </div>
            <div class="caption">
                <a href="{% url 'profile' %}"><h2>{{post.caption}}</h2></a>
                <span><p>{{post.caption}}</p></span>
            </div>
            <div class="time_posted">
                {{ post.created_date | timesince }} ago
            </div>
            <p>{{likes|length}} likes</p>
                <p class=""> {{image.comment.count}} comments </p>
        
            <div class="card-body ">
                {% for comment in comments %}
                {% if comment.image_id == image.id%}
                <h5><strong>{{comment.comment_owner}}</strong> {{comment.comment}}</h5>
                <hr>
        
                {% endif %}
                {% endfor %}
            </div>
            </div>
    {% endfor %}


        
        <h5><strong>{{image.profile.username}}</strong> {{image.caption}}</h5>

    </div>


        </div>
{% endblock %}