{% extends "insta/base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="card">
            <div class="card_header">
                <div class="profile_image">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                </div>
                <div class="post_info">
                    <div class="post_name" href="#">{{post.author}}</div>
                </div>
                <div class="post_options"><i class="fas fa-ellipsis-h"></i></div>
            </div>
            <div class="post_image">
                {% if post.image %}
                    <a href="{% url 'profile' %}"><img src="{{post.image.url}}" class="img-responsive d-block img-thumbnail" alt="Image" ></a>  
                {% endif %}
                </div>
            
            
            <div class="engage">
                <a href=""><i class="far fa-heart"></i></a>
                <a href=""><i class="far fa-comment"></i></a>
                <a href=""><i class="far fa-share-square"></i></a>
                <a href=""><i class="far fa-bookmark"></i></a>
            </div>
            <div class="like">
                <a href="#">24</a>
            </div>
            <div class="caption">
                <a href="{% url 'post-detail' post.id %}"><h2>{{post.caption}}</h2></a>
                <span><p>{{post.caption}}</p></span>
            </div>
            <div class="time_posted">
                {{ post.created_date | timesince }} ago
            </div>
            <p>{{likes|length}} likes</p>
                <p class=""> {{image.comment.count}} comments </p>
        
            <div class="card-body "></div>
                {% for comment in comments %}
                {% if comment.image_id == image.id%}
                <h5><strong>{{comment.comment_owner}}</strong> {{comment.comment}}</h5>
                <hr>
        
                {% endif %}
                {% endfor %}

 
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <i ><button class="far fa-heart btn btn-danger" type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Like</button> </i>
            <a href="{% url 'index' %}"><i class="far fa-comment"></i></a>
        </form>
       
    
    <div class="container">
        <p class="text float-left" style="font-weight: bold;font-size: 15px;"> {{ post.author }} </p>
        <p class="text float-left"> {{ post.caption }} </p><br>
        
    </div>
    
        <h4 class="text">Comments</h4>
        {% if not post.comments.all %}
            Be the first to comment on this post <a href="{% url 'profile' %}">
                Comment...
            </a>
        
        {% else %}
            
            {%for comment in post.comments.all%}
                <strong>
                    {{ comment.name}} 

                </strong>
                <br/>
                
                {{ comment.body}}
                <p>{{ comment.created_date }}</p>
            
            {% endfor %}
                <br>
                <a href="{% url 'profile' post.id %}">Add comment..</a>

        {% endif%}
     <br>
    <div>
        <small class="text-muted float-left">{{post.date_posted}}</small>    
    </div>
<hr>
</div>
{% endfor %}
{% endblock %}